version: "3.8"
services:
  backend:
    build: ./backend
    ports:
      - "3000:3000"
    container_name: backend-social
    restart: always
    environment:
      - PORT = 3000
      - MONGO_URI=mongodb://mongo:27017/viesocial
      - CORS_ORIGIN=http://localhost:8080
    depends_on:
      - mongo
  frontend:
    build: ./client
    container_name: frontend-social
    restart: always
    ports:
      - "8080:80"
    depends_on:
      - backend
  mongo:
    container_name: mongodb_social
    image: mongo:latest
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: root
volumes:
  mongodb_data:
