name: CI-CD

on:
  push:
    branches: ["develop"]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Login Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build & Push Backend
        run: |
          docker build -t peppa2k3/socialbe:1.0 ./backend
          docker push peppa2k3/socialbe:1.0

      - name: Build & Push Frontend
        run: |
          docker build -t peppa2k3/socialfe:1.0 ./client
          docker push peppa2k3/socialfe:1.0

      - name: Deploy to VPS
        uses: appleboy/ssh-action@v1
        with:
          host: ${{ secrets.VPS_HOST }}
          username: ${{ secrets.VPS_USER }}
          key: ${{ secrets.VPS_KEY }}
          script: |
            cd /opt/viesocial
            docker compose pull
            docker compose up -d
            docker image prune -f
